{
  "name": "ngx-smart-schematics",
  "version": "1.0.1",
  "description": "Schematics to generate services and Data Transfer Objects to communicate with an API",
  "scripts": {
    "build": "bin/build.sh",
    "test": "npm run build && jasmine src/**/*_spec.js"
  },
  "keywords": [
    "schematics",
    "code generation",
    "angular",
    "API"
  ],
  "author": "Etienne Châtaignier @melicerte",
  "license": "MIT",
  "homepage": "https://github.com/melicerte/ngx-smart-schematics#readme",
  "schematics": "./collection.json",
  "peerDependencies": {
    "@schematics/angular": "^0.8.4",
    "@types/node": "^8.0.31",
    "swagger-parser": "^6.0.0",
    "typescript": "^2.5.2"
  }
}
